<!-- header.ejs -->
<header>
    <h1>Samurai Sagas - Home Page</h1>
    <button id="theme-toggle" type="button">☀️</button>
  </header>
  <nav>
    <a href="index.html">Home</a>
    <a href="about.html">About</a>
  </nav>
  
  