<!-- header.ejs -->
<header>
    <h1>Samurai Sagas</h1>
    <button id="theme-toggle" type="button">☀️</button>
  </header>
  <nav>
    <a href="/">Home</a>
    <a href="/chapters">View All Chapters</a>
	  <a href="/about">About</a>
  </nav>
  
  