body, h1, h2, p, ul, li, a {
    margin: 0;
    padding: 0;
  }
  
  body {
    background-image: url('samurai_warrior.png');
    background-position: center center;
    background-size:cover;
    background-attachment: scroll;
    font-family: 'Arial', sans-serif;
  }
  
  header {
    background-color: #3e3e3e;
    color: #ffffff;
    text-align: center;
    padding: 1em 0;
    position: relative;
  }
  
  header h1 {
    margin: 0;
    font-size: 2em;
  }
  
  #theme-toggle {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    color: #ffffff;
    font-size: 1.5em;
    cursor: pointer;
  }
  
  nav {
    background-color: #ffffff;
    text-align: center;
    padding: 0.5em 0;
    box-shadow: 0px 3px 15px rgba(0,0,0,0.1);
  }
  
  nav a {
    margin: 0 15px;
    color: #3e3e3e;
    text-decoration: none;
    font-weight: bold;
  }
  
  main {
    padding: 2em;
  }
  
  .story {
    background-color: #ffffff;
    opacity: 85%;
    padding: 2em;
    border-radius: 8px;
    box-shadow: 0px 3px 15px rgba(0,0,0,0.1);
    margin-bottom: 2em;
  }
  
  .story h2 {
    font-size: 1.5em;
    margin-bottom: 1em;
  }
  
  .story img {
    width: 50%;
    border-radius: 8px;
    margin-bottom: 1em;
  }
  
  .story p {
    font-size: 1em;
    line-height: 1.6em;
  }
  
  footer {
    background-color: #3e3e3e;
    color: #ffffff;
    text-align: center;
    padding: 1em 0;
    position: fixed;
    bottom: 0;
    width: 100%;
  }
  
  footer p {
    margin: 0;
  }
  
/*Dark Mode/*
  
  /* Dark mode header styling */
  .dark-mode header {
    background-color: #2a2a2a;
  }
  
  .dark-mode nav {
    background-color: #2a2a2a;
    color: #fff;
  }
  
  .dark-mode nav a {
    color: #fff;
  }
  
  .dark-mode .story {
    background-color: #444;
    color: #fff;
  }
  
  .dark-mode footer {
    background-color: #2a2a2a;
  }
  
