<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Samurai Sagas</title>
    <link id="themeStylesheet" rel="stylesheet" type="text/css" href="page.css">
</head>
<body>
    <%- include('../shared/header.ejs') %>
    <header>
        <h1>Samurai Sagas</h1>
        <button id="theme-toggle" type="button">☀️</button>
    </header>  
    <nav>
        <a href="index.html">Home</a>
        <a href="about.html">About</a>
    </nav>
    <main>
        <article class="story">
            <p>My name is Molly Meyer.</p>
            <p>Check out my <a href="https://github.com/RhysMaineCoon">GitHub repo</a>.</p>
        </article>
    </main>
    <%- include('../shared/footer.ejs') %>
    <footer>
        <p>&copy; 2023 Samurai Sagas</p>
    </footer>
    <script src="themeToggle.js"></script>
</body>
</html>
