<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>All Chapters</title>
  <link id="themeStylesheet" rel="stylesheet" type="text/css" href="page.css">
  
</head>
<body>
  <%- include('../shared/header.ejs') %>
  <h1>All Chapters</h1>
  <ul>
    <% chapters.forEach(chapter => { %>
      <li><a href="/chapter/<%= chapter.id %>"><%= chapter.title %></a></li>
    <% }); %>
  </ul>
  <%- include('../shared/footer.ejs') %>
</body>
</html>
