<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Samurai Sagas</title>
  <link id="themeStylesheet" rel="stylesheet" type="text/css" href="page.css">
</head>
<body>
  <header>
    <h1>Samurai Sagas</h1>
    <button id="theme-toggle" type="button">☀️</button>
  </header>
  <nav>
    <a href="index.html">Home</a>
    <a href="about.html">About</a>
  </nav>
  <main>
    <article class="story">
      <h2>Featured Saga: [Place Story Title Here]</h2>
      <hr>
      <img src="https://via.placeholder.com/600x300" alt="Art Piece 1">
      <p>[Placeholder Text]</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Sem integer vitae justo eget magna fermentum. Lectus mauris ultrices eros in cursus. Vitae tempus quam pellentesque nec nam aliquam. Sit amet dictum sit amet. Ut etiam sit amet nisl purus in mollis nunc sed. Laoreet sit amet cursus sit amet dictum. Vitae nunc sed velit dignissim sodales ut eu sem. Cursus sit amet dictum sit amet justo donec enim. Suspendisse potenti nullam ac tortor vitae purus faucibus ornare. Id leo in vitae turpis massa sed elementum tempus egestas. Lacus sed viverra tellus in. Laoreet sit amet cursus sit.</p>
      <br>
      <p>Gravida cum sociis natoque penatibus et magnis. Nascetur ridiculus mus mauris vitae ultricies leo integer malesuada. Sit amet cursus sit amet dictum. Massa eget egestas purus viverra. Pharetra sit amet aliquam id diam maecenas ultricies mi. Ut sem viverra aliquet eget sit amet. Lobortis feugiat vivamus at augue eget arcu. Vitae justo eget magna fermentum iaculis eu non diam phasellus. Lacus luctus accumsan tortor posuere ac ut consequat semper. Interdum posuere lorem ipsum dolor. Lorem ipsum dolor sit amet consectetur. Nisl tincidunt eget nullam non nisi est sit amet facilisis. A diam sollicitudin tempor id eu nisl nunc.</p> 
    </article>
    <article class="story">
        <h2>Featured Saga: [Place Story Title Here]</h2>
        <hr>
        <p>Eu mi bibendum neque egestas congue quisque egestas. At consectetur lorem donec massa sapien faucibus et molestie ac. Nisl purus in mollis nunc sed id semper. Sit amet purus gravida quis blandit. Massa eget egestas purus viverra accumsan. Nunc eget lorem dolor sed viverra ipsum nunc aliquet. Semper eget duis at tellus at urna condimentum mattis pellentesque. Eget est lorem ipsum dolor. Lorem sed risus ultricies tristique nulla. Scelerisque in dictum non consectetur a erat nam at. Platea dictumst vestibulum rhoncus est. Ut placerat orci nulla pellentesque dignissim enim sit amet venenatis. Vitae tempus quam pellentesque nec nam aliquam sem et tortor.</p>
        <br>
        <p>Gravida cum sociis natoque penatibus et magnis. Nascetur ridiculus mus mauris vitae ultricies leo integer malesuada. Sit amet cursus sit amet dictum. Massa eget egestas purus viverra. Pharetra sit amet aliquam id diam maecenas ultricies mi. Ut sem viverra aliquet eget sit amet. Lobortis feugiat vivamus at augue eget arcu. Vitae justo eget magna fermentum iaculis eu non diam phasellus. Lacus luctus accumsan tortor posuere ac ut consequat semper. Interdum posuere lorem ipsum dolor. Lorem ipsum dolor sit amet consectetur. Nisl tincidunt eget nullam non nisi est sit amet facilisis. A diam sollicitudin tempor id eu nisl nunc.</p>
    </article>
    <article class="story">
        <h2>Featured Saga: [Place Story Title Here]</h2>
        <hr>
        <p>Eu mi bibendum neque egestas congue quisque egestas. At consectetur lorem donec massa sapien faucibus et molestie ac. Nisl purus in mollis nunc sed id semper. Sit amet purus gravida quis blandit. Massa eget egestas purus viverra accumsan. Nunc eget lorem dolor sed viverra ipsum nunc aliquet. Semper eget duis at tellus at urna condimentum mattis pellentesque. Eget est lorem ipsum dolor. Lorem sed risus ultricies tristique nulla. Scelerisque in dictum non consectetur a erat nam at. Platea dictumst vestibulum rhoncus est. Ut placerat orci nulla pellentesque dignissim enim sit amet venenatis. Vitae tempus quam pellentesque nec nam aliquam sem et tortor.</p>
        <br>
        <p>Gravida cum sociis natoque penatibus et magnis. Nascetur ridiculus mus mauris vitae ultricies leo integer malesuada. Sit amet cursus sit amet dictum. Massa eget egestas purus viverra. Pharetra sit amet aliquam id diam maecenas ultricies mi. Ut sem viverra aliquet eget sit amet. Lobortis feugiat vivamus at augue eget arcu. Vitae justo eget magna fermentum iaculis eu non diam phasellus. Lacus luctus accumsan tortor posuere ac ut consequat semper. Interdum posuere lorem ipsum dolor. Lorem ipsum dolor sit amet consectetur. Nisl tincidunt eget nullam non nisi est sit amet facilisis. A diam sollicitudin tempor id eu nisl nunc.</p>
    </article>
  </main>
  <footer>
    <p>&copy; 2023 Samurai Sagas</p>
  </footer>
  <!-- Include the footer 
  <%- include('/shared/footer.ejs') %>-->
  <script src="themeToggle.js"></script>
</body>
</html>
